REDIS_HOST=nextcloud-valkey
NC_TRUSTED_DOMAINS={{ nc_trusted_domains }}
NC_TRUSTED_PROXIES={{ nc_trusted_proxies }}
NC_DEFAULT_LANGUAGE={{ nc_default_language }}
NC_DEFAULT_PHONE_REGION={{ nc_default_phone_region }}
NC_DEFAULT_LOCALE={{ nc_default_locale }}
NC_DEFAULT_TIMEZONE={{ nc_default_timezone }}
