[Unit]
Description=Nextcloud Server container
After=nextcloud-db.service nextcloud-redis.service
Wants=nextcloud-db.service nextcloud-redis.service

[Container]
ContainerName=nextcloud-server
Image=docker.io/nextcloud:apache
AutoUpdate=registry
UserNS=keep-id:uid=33,gid=33
Sysctl=net.ipv4.ip_unprivileged_port_start=80
Volume=%h/storage/nextcloud/config:/var/www/html/config:z
Volume=%h/storage/nextcloud/custom_apps:/var/www/html/custom_apps:z
Volume=%h/storage/nextcloud/data:/var/www/html/data:z
Volume=%h/storage/nextcloud/html:/var/www/html:z
Volume=%h/storage/nextcloud/redis/redis-session.ini:/usr/local/etc/php/conf.d/redis-session.ini:Z
Environment=REDIS_HOST=nextcloud-redis
Network=nextcloud.network
IP=192.168.27.10
Pod=nextcloud.pod

[Service]
Restart=always
TimeoutStartSec=900
