[Unit]
Description=Nextcloud Valkey container

[Container]
ContainerName=nextcloud-valkey
Image=docker.io/valkey/valkey:latest
AutoUpdate=registry
Network=nextcloud.network
PublishPort=6379:6379
Pod=nextcloud-database.pod

[Service]
Restart=always
